form{
	margin-top: 100px;
	background: #fff;
	width: 340px;
	margin: 100px auto;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 10px #E8AB19;
}
input{
	height: 20px;
	outline: none;
	border: 1px solid #999;
	border-radius: 3px;
	padding-left: 5px;
	font-size: 14px;
	margin-bottom: 10px;
}
input:hover{
	box-shadow: 0px 0px 10px #E8AB19;
}
input[type="submit"]{
	width: 100px;
	height: 30px;
	background: #222;
	color: #fff;
}
input[type="submit"]:hover{
	background: #E8AB19;
	color: #222;
	font-weight: bold;
}
form center p{
	font-weight: bold;
	font-size: 30px;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
}